#headerBg{  /*Header section*/
    background: url(img/headerBg.png);
    display: block;
}

.lnhgt{
    line-height: 30px;
}
.bxShadow{
    box-shadow: 8px 9px 9px #e8e7e7;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    
}
.headNavbar{
    font-weight: bold;
  font-size: smaller;
}
.fs{
    font-size: 12px;
}



/* Second body section css*/


#bodySctn1{
    background: url(img/headerBg.png);
}
.strnDiv{
   position: relative;
   box-shadow: 10px 10px 14px #caca49;
   
}
 .strong1{
    background-color: #535c01;
  color: white;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0 15px;
  letter-spacing: 2px;
  border-radius: 3px;
  top: 23px;
  font-weight: 701;
 }
 .hp1{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0 0 31px;
 }