#headerBg{  /*Header section*/
    background: url(img/headerBg.avif);
    display: block;
}

.lnhgt{
    line-height: 30px;
}
.bxShadow{
    box-shadow: 8px 9px 9px #e8e7e7;
}
.img-responsive{
    display: block;
    height: auto;
    
}
.headNavbar{
    font-weight: bold;
  font-size: smaller;
}
.fs{
    font-size: 12px;
}



/* first body section css*/


#bodySctn1{
    background: url(img/headerBg.png);
}
.strnDiv{
   position: relative;
   box-shadow: 10px 10px 14px #caca49;
   
}
 .strong1{
    background-color: #535c01;
  color: white;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0 15px;
  letter-spacing: 2px;
  border-radius: 3px;
  top: 23px;
  font-weight: 701;
 }
 .hp1{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0 0 31px;
 }


 /* second body section css*/

 .imgwdt{
    width: 30px;
 }
 .logoImgdiv{
    position: relative;
    
 }
 .row3{
    background-color: #f7f7f7;
    position: relative;
 }
 .hoverRed:hover{
    color: red;
 }
 .cntr{
    position: absolute;
    top: 14px;
 }
 .arrowViewDiv{
   position: relative;
   
 }
 .VieMOve{
    position: absolute;
    top: 23px;
    display: block;
 }
 .arrowMove{
    position: absolute;
    top: 24px;
    display: block;
    right: 100px;
 }
 .bg3{
   background-color: #f7f7f7;
 }




/*Third body section css*/

.propertyDiv{
   position: relative;
}


/*fouth body section*/

.kathaBg{
   background: url(img/kathakaliBg.avif);
   background-size: cover;
}
.line-height{
   line-height: 0%;
}
.hoverMap:hover{
   background-color: #535c01;
   
}


 /*firth body section*/

 .fifthBg{
    background: url(img/footerbg.avif);
    background-size: cover;
 }
 .ulListStyle{
   list-style-type:square;
   cursor: pointer;
 }


 /*footer secton*/

 .bgndFooter{
   background-color: #635207;
   
 }


 @media (max-width:575px){
   .liCenter{
      padding-left: 10%;
   }
 }

 @media(max-width:992px){
   .footerCenter{
      text-align: center;
   }
 }

@media(max-width:992px){
   .footerCenterIcn{
    display: flex;
    justify-content: center;
   }
 }


 